@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poller+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

header {
    background-color: rgba(0, 213, 246, 0.904);
    font-family: 'poller one';
    height: 150px;
    width: 100%;
    margin-top: -54px;
}

header h1 {
    color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    font-size: 100px;
}

nav div {
    width: fit-content;
    font-size: large;
    margin-top: 15px;
}

nav img {
    width: 30px;
    vertical-align: middle;
}

.facebook {
    text-decoration: none;
    color: black;
    padding: 14px;
    margin-top: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.links {
    width: 77%;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    font-size: larger;
    margin-top: 4px;
}

.links a {
    text-decoration: none;
    color: black;
    padding: 14px;
}

.links :hover {
    background-color: orange;
}

.links a::before {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.links a::after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, auto);
}

.main-img {
    grid-row: 1/2;
    grid-column: 1/8;
    width: 100%;
    height: 99.0%;
    margin-top: 5px;
}

.ress {
    grid-row: 1;
    grid-column: 8/13;
    background-color: rgba(0, 213, 246, 0.904);
    /*rgb(0, 171, 205)*/
    margin-top: 5px;
}

.ress h2 {
    text-align: center;
    font-size: xx-large;
}

.ress p {
    text-align: center;
    font-size: larger;
    margin: 50px;
}

.weather {
    grid-row: 5/9;
    grid-column: 1/13;
    background-color: orange;
    /* box-shadow: -2px 3px 4px 5px rgba(0, 0, 0, 0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.current {
    background-color: rgba(0, 213, 246, 0.904);
    width: 300px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current h2 {
    font-size: larger;
    margin: 0px;
    margin-top: 15px;
}

.current img {
    width: 80px;
}

.next-day {
    background-color: rgba(0, 213, 246, 0.904);
    width: 300px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-day div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
}

.reservation {
    grid-row: 2;
    grid-column: 8/13;
    background-color: rgba(0, 213, 246, 0.904);
    margin-top: 50px;
    height: auto;
}

.reservation h2 {
    margin: 10px;
    color: black;
    font-size: xx-large;
    font-family: 'poller one';
    display: flex;
    justify-content: center;
    text-align: center;
}

.reservation div {
    display: flex;
    justify-content: center;
    margin-top: 112px;
}

.reservation button {
    height: 150px;
    width: 300px;
    font-size: xx-large;
    background-color: orange;
    cursor: pointer;
    font-family: 'poller one';
}

.reservation button:hover {
    background-color: white;
    color: #000;
}

.reservation p {
    text-align: center;
    margin: 5px;
    margin-top: 100px;
    font-size: xx-large;
}

/*------------------- this is for all the images near the weather----------------*/
.images- {
    grid-row: 2;
    grid-column: 1/8;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.boat-water {
    width: 100%;
    height: 100%;
    grid-column: 1/5;
    grid-row: 1/5;
}

.photo-1 {
    height: 100%;
    width: 100%;
    grid-column: 5/9;
    grid-row: 1/5;
}

.photo-2 {
    height: 100%;
    width: 100%;
    grid-column: 9/13;
    grid-row: 1/5;
}

.photo-3 {
    height: 100%;
    width: 100%;
    grid-column: 1/5;
    grid-row: 9/13;
}

.photo-4 {
    height: 100%;
    width: 100%;
    grid-column: 5/9;
    grid-row: 9/13;
}

.photo-5 {
    height: 100%;
    width: 100%;
    grid-column: 9/13;
    grid-row: 9/13;
}

/*-------------------------- this is for the map-------------------*/
.location {
    grid-row: 3;
    grid-column: 1/13;
    background: linear-gradient(to bottom, rgba(0, 213, 246, 0.904) 50%, orange 50%);
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
    margin-left: 25px;
    margin-right: 25px;
    height: 900px;
    column-gap: 10px;

}

.location p {
    grid-column: 1/13;
    text-align: center;
    font-size: x-large;
}

.location h3 {
    grid-row: 1;
    grid-column: 1/13;
    text-align: center;
    font-size: xx-large;
}

.map {
    margin: 25px;
    grid-row: 4;
    grid-column: 2/12;
}

.map iframe {
    width: 100%;
}
.island-scooters{
    grid-column: 1/7;
    width: 100%;
    grid-row: 3;
    margin-right: 20px;
}
.wheel-scooters{
    width: 100%;
    grid-column: 7/13;
    grid-row: 3;
}


/*-------------------------- this is the footer-------------------*/
footer {
    grid-row: 7;
    grid-column: 1/13;
    background-color: rgba(0, 213, 246, 0.904);
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: x-large;
}

/*-------------------the temp max---------------*/
#the-temp-max {
    position: absolute;
    position: sticky;
    width: 21%;
    height: 51px;
    border: 2px solid black;
    top: 5px;
    background-color: orange;
}

.temp-max {
    position: absolute;
    top: -17px;
    left: 4px;
}

.temp-max:hover {
    cursor: pointer;
}

#temp-max {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------------------------------this is the start of the rentals page------------------------------------*/

.services {
    grid-row: 1;
    grid-column: 4/10;
    text-align: center;
    font-size: xxx-large;
}

.agreements-box {
    grid-row: 2/3;
    grid-column: 4/10;
    height: 505px;
    background-color: rgba(0, 213, 246, 0.904);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px auto auto auto auto auto 30px;
}

.services-w-descriptions {
    grid-column: 2/12;
    grid-row: 2/7;
    background-color: orange;
    font-size: x-large;
}

table {
    grid-row: 4;
    grid-column: 2/12;
    margin-top: 50px;
    width: 100%;
    height: 600px;
}
td{
    text-align: center;
}
tr{
    background-color: lightgray;
}
.p1{
    grid-row: 5;
    grid-column: 2/3;
    text-align: center;
}
.scoot1{
    grid-row: 6;
    grid-column: 2/3;
    width: 300px;
    height: 200px;
}
.p2{
    grid-row: 5;
    grid-column: 6/8;
    text-align: center;
}
.scoot2{
    grid-row: 6;
    grid-column: 6/8;
    width: 300px;
    height: 200px;
}
.p3{
    grid-row: 5;
    grid-column: 11/12;
    text-align: center;
}
.scoot3{
    grid-row: 6;
    grid-column: 11/12;
    width: 300px;
    height: 200px;
}
.p4{
    grid-row: 7;
    grid-column: 2/3;
    text-align: center;
}
.scoot4{
    grid-row: 8;
    grid-column: 2/3;
    width: 300px;
    height: 200px;
}
.p5{
    grid-row: 7;
    grid-column: 6/8;
    text-align: center;
}
.scoot5{
    grid-row: 8;
    grid-column: 6/8;
    width: 300px;
    height: 200px;
}
.p6{
    grid-row: 7;
    grid-column: 11/12;
    text-align: center;
}
.scoot6{
    grid-row: 8;
    grid-column: 11/12;
    width: 300px;
    height: 200px;
}





/*---------------------------------------------------------------this is the start of the reservations page --------------------------*/
.our-rentals{
    grid-row: 1;
    grid-column: 4/10;
    text-align: center;
    font-size: xxx-large;
}
.the-box {
    grid-row: 2/3;
    grid-column: 1/6;
    height: 970px;
    background-color: rgba(0, 213, 246, 0.904);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px auto auto auto auto auto 30px;
}
.description-1{
    grid-column: 2/12;
    grid-row: 2/7;
    background-color: orange;
    font-size: x-large;
}

form{
    grid-column: 7/12;
    grid-row: 2;
}

.padding{
    padding-left: 9px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 213, 246, 0.904);
}
.padding label{
    margin-top: 29px;
    color: black;
}
.padding input{
    height: 44px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.submit{
    margin-top: 5px;
    width: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lname{
    width: 75%;
}
#fname{
    width: 75%;
}
#date{
    width: 75%;
}
#email{
    width: 75%;
}
#phone{
    width: 75%;
}
#rdate{
    width: 75%;
}
#cruise{
    width: 75%;
}
#company{
    width: 75%;
}
select{
    width: 75%;
    height: 44px;
}
fieldset h2{
    grid-column: 1/13;
    text-align: center;
    background-color: orange;
    margin: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    padding: 0px;
}
.joining{
    grid-column: 1/13;
    grid-row: 1/6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #000 ;
    height: 300px;
}


/*------------------------------------------------------------this is the contact page-------------------------------*/

.rectangel-1{
    grid-row: 1;
    grid-column: 1/6;
    background-color: rgba(0, 213, 246, 0.904);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-left: 50px;
}
.f1{
    display: flex;
    flex-direction: row;
    width: 16%;
}
.facebook1{
    text-decoration: none;
    color: #000;
}
.contact{
    grid-row: 1;
    grid-column: 8/13;
    margin-right: 50px;
}
#fac{
    margin-top: 40px;
}
.location-1{
    grid-row: 3;
    grid-column: 1/13;
    background: linear-gradient(to bottom, rgba(0, 213, 246, 0.904) 50%, orange 50%);
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
    margin-left: 25px;
    margin-right: 25px;
    column-gap: 10px;
}
