@media only screen and (min-width: 641px) and (max-width: 1300px){
    .reservation p{
        font-size: x-large;
    }
    nav div{
        display: inline-block;
        vertical-align: middle;
    }
    nav img{
        margin-top: 0px;
    }
    #the-temp-max{
        height: fit-content;
    }
    header{
        margin-top: -71px;
        height: 180px;
    }
    .agreements-box{
        grid-column: 1/13;
    }
    .contact{
        grid-column: 2/12;
        grid-row: 2;
        margin-right: 0px;
        margin-top: 50px;
    }
    .rectangel-1{
        grid-row: 1;
        grid-column: 2/12;
        margin-left: 0px;
    }
    .location{
        height: auto;
    }
}
@media only screen and (min-width: 641px) and (max-width: 900px){
    .boat-water{
        grid-row: 1/4;
    }
    .photo-1{
        grid-row: 1/4;
    }
    .photo-2{
        grid-row: 1/4;
    }
    .photo-3{
        grid-row: 10/13;
    }
    .photo-4{
        grid-row: 10/13;
    }
    .photo-5{
        grid-row: 10/13;
    }
    .weather{
        grid-row: 4/10;
    }
    .main-img{
        grid-column: 1/13;
        grid-row: 1;
    }
    .ress{
        grid-column: 1/13;
        grid-row: 2;
    }
    .images-{
        grid-row: 3;
    }
    .reservation{
        grid-row: 3;
    }
    .location{
        grid-row: 4;
    }
    nav div{
        display: inline-block;
        vertical-align: middle;
    }
    nav img{
        margin-top: 0px;
    }
    .the-box{
        grid-row: 1;
        grid-column: 1/13;
    }
    form{
        grid-row: 2;
        grid-column: 1/13;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .location{
        height: auto;
    }
}

@media only screen and (min-width:200px) and (max-width:641px){
    .links::before{
        content: '≡';
        font-size: 50px;
    }
    header h1{
        font-size: 75px;
    }
    .links a{
        display: none;
    }
    .links{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    nav div{
        display: inline-block;
        vertical-align: middle;
    }
    #the-temp-max{
        height: 131px;
        width: 356px;
    }
    header{
        margin-top: -132px;
    }
    #temp-max{
        height: 100%;
        font-size: 25px;
    }
    .temp-max{
        font-size: 50px;
        top: -53px;
    }
    .show a{
        display: flex;
        flex-direction: row;
    }
    .show::before{
        content: 'Ⅹ';
        display: flex;
        justify-content: center;
    }
    .links.show{
        display: block;
    }
    .links.show a{
        display: flex;
        justify-content: center;
    }
    .main-img{
        grid-row: 1;
        grid-column: 1/13;
    }
    .ress{
        grid-row: 2/4;
        grid-column: 1/13;
        margin-top: 30px;
    }
    .boat-water{
        grid-column: 1/13;
        grid-row: 1;
    }
    .photo-1{
        grid-column: 1/13;
        grid-row: 5/7;
    }
    .reservation{
        grid-row: 4;
        grid-column: 1/13;
    }
    .photo-2{
        display: none;
    }
    .photo-3{
        display: none;
    }
    .photo-4{
        display: none;
    }
    .photo-5{
        display: none;
    }
    .images-{
        grid-template-rows: repeat(7,auto);
        grid-row: 5;
        grid-column: 1/13;
    }
    .location{
        grid-row: 7;
        height: auto;
    }
    .weather{
        grid-row: 2/4;
        height: 350px;
    }
    footer{
        grid-row: 8;
    }
    .agreements-box{
        grid-column: 1/13;
    }
    .p1{
        grid-row: 5;
        grid-column: 1/13;
        text-align: center;
    }
    .scoot1{
        grid-row: 6;
        grid-column: 1/13;
        width: 100%;
        height: 100%;
    }
    .p2{
        grid-row: 7;
        grid-column: 1/13;
        text-align: center;
    }
    .scoot2{
        grid-row: 8;
        grid-column: 1/13;
        width: 100%;
        height: 100%;
    }
    .p3{
        grid-row: 9;
        grid-column: 1/13;
        text-align: center;
    }
    .scoot3{
        grid-row: 10;
        grid-column: 1/13;
        width: 100%;
        height: 100%;
    }
    .p4{
        grid-row: 11;
        grid-column: 1/13;
        text-align: center;
    }
    .scoot4{
        grid-row: 12;
        grid-column: 1/13;
        width: 100%;
        height: 100%;
    }
    .p5{
        grid-row: 13;
        grid-column: 1/13;
        text-align: center;
    }
    .scoot5{
        grid-row: 14;
        grid-column: 1/13;
        width: 100%;
        height: 100%;
    }
    .p6{
        grid-row: 15;
        grid-column: 1/13;
        text-align: center;
    }
    .scoot6{
        grid-row: 16;
        grid-column: 1/13;
        width: 100%;
        height: 100%;
    }
    .services-w-descriptions {
        font-size: larger;
    }
    .contact{
        grid-column: 1/13;
        grid-row: 2;
        margin-right: 0px;
        margin-top: 50px;
    }
    .rectangel-1{
        grid-row: 1;
        grid-column: 1/13;
        margin-left: 0px;
    }
    .the-box{
        grid-row: 1;
        grid-column: 1/13;
    }
    form{
        grid-row: 2;
        grid-column: 1/13;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }
    nav img{
        margin-top: 0px;
    }
}