header{
    background-color: darkblue;
    color: white;
    text-align: center;
}
header p{
    font-size: 1.5rem;
}
main{
    max-width: 1000px;
    display: grid;
    grid-template-columns: (repeat(3,1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin: auto;
}
.card h2{
    background-color: darkblue;
    color: white;
    font-size: xx-large;
    text-align: center;
    margin: initial;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}
.card{
    border: groove #000;
    border-radius:1rem ;
    grid-column: 1/2;
    grid-row: 1/3;
}
.card img{
    max-width: 300px;
    display: flex;
    margin: auto;
    padding: 2px;
}
.card p{
    grid-row: 1/3;
}

/*card2 starts here*/

.card2{
    border: groove #000;
    border-radius:1rem ;
    grid-column: 2/3;
    grid-row: 1/3;
}
.card2 h2{
    background-color: darkblue;
    color: white;
    text-align: center;
    margin: initial;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}
.card2 img{
    max-width: 300px;
    display: flex;
    margin: auto;
    padding: 2px;
}
.card2 p{
    grid-row: 1/3;
}

/* card 3 starting*/

.card3{
    border: groove #000;
    border-radius:1rem ;
    grid-column: 3/3;
    grid-row: 1/3;
}
.card3 h2{
    background-color: darkblue;
    color: white;
    text-align: center;
    margin: initial;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}
.card3 img{
    max-height: fit-content;
    max-width: 300px;
    display: flex;
    margin: auto;
    padding: 2px;

}
footer{
    background-color:darkblue;
    color: white;
    font-size: xx-large;
    text-align: center;
}


