@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


header{
    background-color: darkblue;
    color: white;
    text-align: center;
}
header p{
    font-size: 30px;
}
#cards{
    display: grid;
    min-block-size: 100vb;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,auto);
    column-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.card{
    border: solid #000;
    grid-column: 1/5;
    grid-row: 1/13;
    background-color: lightgrey;
    font-size: 25px;
}
.card2{
    border: groove #000;
    grid-column: 5/9;
    grid-row: 1/13;
    background-color: lightgrey;
    font-size: 25px;
}
.card3{
    border: groove #000;
    grid-column: 9/13;
    grid-row: 1/13;
    background-color: lightgrey;
    font-size: 28px;
}
.card img,.card2 img,.card3 img{
    width: 100%;
}
.card h2,.card2 h2,.card3 h2{
    background-color: darkblue;
    color: white;
    margin: auto;
}
footer{
    background-color: darkblue;
    color: white;
    text-align: center;
}

header,header p,.card,.card2,.card3,footer{
    font-family: "Libre Baskerville";
}