body{
    background-color: #F5F3F4;
}
header{
    background-color: #660708;
    color: #D3D3D3 ;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 40px;
}
header img{
max-width: 150px;
}
header h1{
    padding-left: 10px;
}
header nav{
    margin-left: auto;
    font-size: x-large;
}
header a{
    color: #D3D3D3;
    text-decoration: none;
    margin-left: 80px;
    padding: 20px;
    font-size: larger;
    border: 0px solid;
    border-radius: 10px;
}
header a:hover{
    background-color: #000;
}