body{
    background-color: #F5F3F4;
}
header{
    background-color: #660708;
    color: #D3D3D3 ;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 40px;
}
header img{
max-width: 100px;
}
header h1{
    padding-left: 10px;
}
header nav{
    margin-left: auto;
    font-size: x-large;
}
header a{
    color: #D3D3D3;
    text-decoration: none;
    margin-left: 80px;
    padding: 20px;
    font-size: auto;
    border: 0px solid;
    border-radius: 10px;
}
header a:hover{
    background-color: #000;
}
main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,auto);
}
main img{
    grid-column: 1/13;
    grid-row: 1;
    width: 100%;
    
}
.cards{
    grid-column: 1/6;
    grid-row: 2/3;
}