@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Oswald&display=swap');


body{
    background-color: #606C38;
}
header {
    background-color: #283618;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.there{
    justify-self: end;
    padding: 2rem;
    width: 80px;
    
}

h1{
    align-self: center;
    color: #FEFAE0;;
    font-family: Oswald;
}

nav{
    background-color:#DDA15E;
    color: #FEFAE0;
    align-items: center;
}

.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}

nav a{
    color: #000;
    text-decoration: none;
    font-size: 200%;
    font-family: "Cormorant Garamond";
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,auto);
    column-gap: 100px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-family: "Cormorant Garamond";
}
.temple{
    grid-column: 1/3;
    width: 100%;
}
.temples{
    width: 100%;
}
.card{
    display: grid;
    max-width: 350px;
    grid-row: 3;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px auto auto;
    color: white;
    font-size: x-large;
    border: groove #000;
    border-radius: 10px;
    margin-left: auto;
}

.card p{
    color: #283618;
    grid-column: 1/4;
    background-color: #FEFAE0;
    margin: initial;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cards{
    display: grid;
    max-width: 350px;
    grid-row: 3;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px auto auto;
    color: white;
    font-size: x-large;
    border: groove #000;
    border-radius: 10px;
}

.cards p{
    color: #283618;
    grid-column: 1/4;
    background-color: #FEFAE0;
    margin: initial;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3{
    background-color: #283618;
    grid-column: 1/4;
    align-self: center;
    font-family: Oswald;
    margin: auto;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-top: 20px;
}
h2{
    text-decoration-line: underline;
    color: #FEFAE0;
    font-family: Oswald;
    grid-column: 1/3;
}
ul{
    grid-column: 1/4;
    text-align: initial;
    list-style-type: none;
    counter-reset: my-counter;
    background-color: #FEFAE0;
    margin: initial;
    padding-bottom: 30px;
}
li{
    padding-top: 30px;
}

.card a{
    color: #283618;
    text-decoration: none;
    font-family: "Cormorant Garamond";
}
footer{
    background-color: #DDA15E;
    color: #000;
    text-align: center;
    font-family: oswald;
}
footer p {
    margin: 0; 
}

footer img {
    vertical-align: middle; 
    padding: 5px;
}
li::before{
    content: counter(my-counter, decimal-leading-zero) ":"; 
    counter-increment: my-counter;
    margin-right: 0.5em; 
    color: black;
}
.map{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.overlay{
    position: absolute;
    font-size: x-large;
    color: #fff;
    margin-bottom: initial;
}