@media screen and (max-width:1600px){
    .link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    main{
        max-width: 1600px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    h2{
        grid-column: 1/3;
    }

}