@media screen and (max-width:500px){
    .link{
        display: flex;
        flex-direction: column;
        
    }
    main{
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: auto;
        text-align: center;
    }
    .temple{
        width: 100%;
    }
    #menu{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .7rem;
        background-color: #DDA15E;
        color: black;
    }
    #menu::before{
        content: "≡";
    }
    nav a{
        background-color: #283618;
        color: #FEFAE0;
    }
    nav a:hover{
        background-color: #FEFAE0;
        color: black;
    }
    
    .link a{
        display: none;
    }
    .show a{
        display: block;
    }
    #menu.show::before{
        content: "Ⅹ";
    }

}

@media only screen and (max-width: 960px){
    .temples{
        max-height: 300px;
    }
    .overlay{
        font-size: larger;
    }
}
@media only screen and (min-width:100px) and (max-width: 600px){
    .temples{
        max-height: 150px;
        grid-row: 1;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-gap: 20px;
    }
    main h2{
        grid-row: 2;
    }
    .card{
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        width: 600px;
        margin: auto;

    }
    .cards{
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
        width: 600px;
    }
    .map{
        margin: auto;
    }
}
